@model ProductModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EFproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EFproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head> 

<body>
   
   
        
    <div class="wrapper">
    <form class="form-signin" asp-action="Add" method="post" role="form" enctype="multipart/form-data">
                    
            <h2 class="form-signin-heading">Please fill the details</h2>

            <label for="fname" class="col-form-label">Product Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Product Name" required="" />
         
            <label for="fname" class="col-form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description" placeholder="Enter Description" required="" />
           
            <label for="fname" class="col-form-label">Category</label>
            <input type="text" class="form-control" asp-for="Category" placeholder="Enter Category" required="" />

            <label for="fname" class="col-form-label">Price</label>
            <input type="text" class="form-control" asp-for="Price" placeholder="Enter Price" required="" />

            <br />
            
            <button style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; cursor:pointer; background-color:#FEC868;font-style:italic; color:aliceblue" class="w3-button" onclick="$('#inputField').click()">UPLOAD PRODUCT IMAGE</button>
            <input asp-for="ProductImage" id="inputField" type="file" style="display: none" />
         
            <br /><br />
            
           <button class="w3-button w3-teal w3-large" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" type="submit" value="Submit">SUBMIT</button>
        </form>
    </div>

    <div class="text-center">
        <button type="button" class="w3-button" style="background-color:steelblue; margin-top:-100px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            <a style="color:white;  text-decoration:none" href="/product/index">
                <i class="bi bi-arrow-left-short"></i>

                DASHBOARD
            </a>
        </button>
    </div>
        
    
  
</body>
</html>
